@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");

* {
	box-sizing: border-box;
	background-color: #a92f92;
	font-family: system-ui, sans-serif;
	color: white;
	margin: 10px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1.heading {
	font-size: 64px;
	justify-self: center;
	padding: 0;
	font-family: "Lily Script One", sans-serif;
	font-weight: 80;
	margin: 0;
}

p.heading {
	font-size: 18px;
	justify-self: center;
	padding: 0;
	display: flex;
	align-items: center;
	margin: 0;
	color: white;
}

button {
	font-weight: 450;
}

button:hover {
	background-color: #962481;
	cursor: url("/images/heart-cursor.png"), pointer;
}

#game-window {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	background-color: #f2bce9;
	width: 675px;
	height: 350px;
	border-radius: 5px;
	padding: 8px;
	margin-top: 15px;
}

#game-window p {
	font-size: 16px;
	color: black;
	background-color: inherit;
}

#choice-box {
	background-color: inherit;
	display: flex; /* change to none to hide */
	justify-content: flex-end;
}

#ch1 {
	display: block; /* default "next", change to none to hide */
}

#ch2 {
	display: none; /* empty for now, use ch1 until you need */
}

#ch3 {
	display: none; /* empty for now, use ch1 until you need */
}

#game-window button {
	width: 150px;
	height: 40px;
	border-radius: 3px;
}

#tm {
	color: black;
	font-size: 8px;
	vertical-align: super;
	margin: 2px;
	background-color: inherit;
}

#reaction-box {
	display: none; /* change to flex to reappear */
	flex-direction: column;
	align-items: flex-start;
	background-color: inherit;
	width: 650px;
	margin: 0;
}

.reaction {
	display: flex;
	justify-content: flex-start;
	background-color: inherit;
}

.reaction img {
	width: 25px;
	height: 25px;
	background-color: inherit;
}

#meter-window {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f2bce9;
	width: 675px;
	height: 62px;
	border-radius: 5px;
}

.meter {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #db48bf;
	border: 3px solid #a92f92;
	border-radius: 6px;
	height: 40px;
	padding-inline: 10px;
}

#mood {
	width: 305px;
}

#swoon { 
	width: 340px;
}

#meter-heart {
	width: 25px;
	margin: 0 0 0 10px;
	background-color: inherit;
}

#action-window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-evenly;
	color: black;
	background-color: #f2bce9;
	width: 675px;
	height: 240px;
	border-radius: 5px;
}

#dice-tray {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: inherit;
	margin: 0 10px;
}

#dice-tray .die {
	border-radius: 6px;
	border: 3px solid #a92f92;
}

#lock-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: inherit;
	margin: 0 10px;
}

#lock-buttons button {
	width: 100px;
	height: 30px;
	border-radius: 3px;
}

#action-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	margin: 0 10px;
}

#action-buttons button {
	width: 400px;
	height: 40px;
	border-radius: 3px;
}

#term-head {
	margin-top: 25px;
}

#terms {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background-color: #f2bce9;
	width: 675px;
	height: 800px;
	border-radius: 5px;
	padding: 8px;
}

#terms p {
	font-size: 16px;
	color: black;
	background-color: inherit;
}

#terms img {
	background-color: inherit;
	align-self: center;
}

#symbol-guide {
	background-color: inherit;
	margin: 0;
	padding: 0;
}

.symbol-rule {
	background: inherit;
	display: flex;
	align-items: center;
	margin: 0;
}

footer {
	font-size: 14px;
}
